body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #28a745;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

#search-section {
    margin-bottom: 2rem;    
}

#search-input {
    padding: 0.5rem;
    width: 60%;
}

#search-button {
    padding: 0.5rem 1rem;
    background-color: #28a745;
    color: white;   
    border: none;
    cursor: pointer;
}

.custom-btn {
    padding: 0.5rem 1rem;
    background-color: #28a745;
    color: white;   
    border: none;
    cursor: pointer;
}

#plants-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.country-map {
    height: 100px;
}
.plant-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.plant-card h2 {
    margin-top: 0;
}

.plant-card h3 {
    font-size: 1.5rem;
    color: #333;
}
.section h2 {
    color: #28a745;
    font-weight: bold;
}
.add-to-cart {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

#pagination {
    margin-top: 2rem;
    text-align: center;
}

#pagination button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

#pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content button {
    background-color: #28a745; /* Same green as other buttons */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px; /* Optional: to match the style of other buttons */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    position: absolute;  /* Position it relative to the modal */
    top: 10px;            /* Adjust the position to move it to the top */
    right: 10px;          /* Adjust the position to move it to the right */
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#create-plant-btn {
    background-color: #28a745; /* Custom green color */
    color: white;
    border: none;
}